.PMDVHFHZJZ {
    background: var(--secondary-background-1, #fffdf4);
    .XASPCYJNZP {
        padding: 70px 194px 30px 194px;
        .YHQJUYLGOT {
            max-width: 519px;
            .BSQFMBAJJW {
                color: var(--primary-accent-1, #374639);
                font-family: Poppins;
                font-size: 45px;
                font-weight: 400;
                line-height: 53px; /* 117.778% */
                letter-spacing: -2.25px;
            }
            .ZCEIKVWGWW {
                margin-top: 20px;
                color: var(--secondary-color-1, #3f514b);
                font-variant-numeric: lining-nums proportional-nums;
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 27px; /* 142.105% */
            }
        }
        .VGCMAVRKCI {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .OFHVVTMVAW {
                flex-basis: calc(25% - 23px);
                .MYOMKDVFYT {
                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .WMXARBHMJP {
                    border-bottom: 1px solid #ecedec;
                    .NXXWNPHOJT {
                        margin-top: 18px;
                        color: #414f42;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px; /* 125% */
                        letter-spacing: -0.4px;
                    }
                    .RHYTEOOWZO {
                        margin-top: 8px;
                        color: var(--secondary-color-1, #3f514b);
                        font-variant-numeric: lining-nums proportional-nums;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 141.176% */
                    }
                    .VWVJCPMQJI {
                        margin-top: 8px;
                        margin-bottom: 23px;
                        display: flex;
                        .VUDKZBWKZH {
                            display: flex;
                            align-items: center;
                            color: var(--secondary-subtitle, #72776c);
                            font-kerning: none;
                            font-variant-numeric: lining-nums proportional-nums;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 18px; /* 138.462% */
                            letter-spacing: 0.13px;
                            text-decoration-line: line-through;
                            text-transform: uppercase;
                        }
                        .TPKJCHRYQI {
                            margin-left: 6px;
                            color: var(--secondary-color-1, #3f514b);
                            font-variant-numeric: lining-nums proportional-nums;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 23px; /* 127.778% */
                            text-transform: uppercase;
                        }
                    }
                }
                .FUYEYYKZSX {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #ecedec;
                    display: flex;
                    .WYKXUSNFXP {
                        display: flex;
                        align-items: center;
                        color: var(--secondary-subtitle, #72776c);
                        font-kerning: none;
                        font-variant-numeric: lining-nums proportional-nums;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 18px; /* 120% */
                        letter-spacing: 0.15px;
                        text-transform: uppercase;
                    }
                    .AHGFTZDYBX {
                        display: flex;
                        align-items: center;
                        margin-left: 24px;
                        color: var(--secondary-color-2, #4e5c58);
                        font-variant-numeric: lining-nums proportional-nums;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 171.429% */
                    }
                }
            }
        }
    }
}
.GTXTUPATAL {
    background: var(--secondary-background-1, #fff9f5);
    .MSRZSRMQXU {
        padding-top: 66px;
        color: var(--secondary-color-1, #462b20);
        text-align: center;
        font-family: Instrument Serif;
        font-size: 58px;
        font-style: normal;
        font-weight: 400;
        line-height: 61px; /* 105.172% */
        letter-spacing: -0.58px;
    }
    .MJGZUCVFOR {
        padding: 70px 194px 30px 194px;
        display: flex;
        justify-content: space-between;
        .TDJSQCFBDG {
            margin-top: 54px;
            flex-basis: calc(560px);
            img {
                padding-bottom: 18px;
                width: 100%;
                height: 315px;
                object-fit: cover;
            }
            .LANUMKFBEY {
                padding: 18px 0;
                border-top: 1px solid #f3eae5;
                border-bottom: 1px solid #f3eae5;
            }
            .DNQYLWMVLS {
                display: flex;
                justify-content: space-between;
                .NJJXANGPPW {
                    color: var(--secondary-color-1, #462b20);
                    font-family: Instrument Serif;
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px; /* 107.692% */
                }
            }
        }
        .IJXJAPAFQV {
            flex-basis: calc(100% - 560px - 117px);
            img{
                width: 100%;
            }
        }
    }
}
